import React from 'react';
import PropTypes from 'prop-types';
import styles from './{{pascalCase nameOfComponent}}.module.css';

const {{pascalCase nameOfComponent}} = props => {
  return (
    <div className={styles.root}>
    </div>
  );
};

{{pascalCase nameOfComponent}}.defaultProps = {

};

{{pascalCase nameOfComponent}}.propTypes = {

};

export default {{pascalCase nameOfComponent}};
